services:
  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: smartpedidos
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: 3000
    depends_on:
      - db
    ports:
      - "3000:3000"
    working_dir: /app/apps/api
    command: ["npm", "run", "start"]

volumes:
  postgres_data:
